extends layout

block content
  h1 Files for #{userid}
  include uploadform
  #images
  if imageList.length == 0
    p No images, upload one now.
  else
    for image in imageList
      img(src='#{image.orgImg}')
      if image.sepiaImg != undefined
        img(src='#{image.sepiaImg}')
      if image.montageImg != undefined
        img(src='#{image.montageImg}')
      hr
